<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <%= form_with url: logout_path, method: :delete, local: true, class: "navbar-logout-form" do %>
          <button type="submit" class="nav-logout-btn" onclick="return confirm('ログアウトしますか？')">
            <i class="fa fa-sign-out"></i> ログアウト
          </button>
        <% end %>
      </li>
    </ul>
  </nav>
</div>
