<form action="/reports" method="POST" class="form-horizontal" id="dailyReportForm">

  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>作業一覧</h5>
    </div>
    <div class="ibox-content">

      <div class="row">
        <div class="col-sm-12 text-right">
          <button type="button" class="btn btn-success m-b-sm" id="addWorkBtn">
            <i class="fa fa-plus"></i> 作業を追加
          </button>
        </div>
      </div>

      <div id="workList" class="work-list">
        <div class="work-item" data-work-index="0">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">顧客名 <span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="works[0][customer]" placeholder="顧客名を入力" required>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">案件名 <span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="works[0][project]" placeholder="案件名を入力" required>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="control-label">作業時間 <span class="text-danger">*</span></label>
                <div class="input-group">
                  <input type="number" class="form-control" name="works[0][hours]" placeholder="0.0" step="0.5" min="0" max="24" required>
                  <span class="input-group-addon">分</span>
                </div>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="form-group" style="margin-top: 25px;">
                 <button type="button" class="btn btn-danger btn-sm remove-work-btn" style="display: none;">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="control-label">作業内容</label>
                <textarea class="form-control" name="works[0][description]" rows="2" placeholder="作業内容を入力（任意）"></textarea>
              </div>
            </div>
          </div>
          <hr class="hr-line-dashed">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="alert alert-info">
            <strong>合計作業時間: <span id="totalHours">0.0</span> 時間</strong>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>本日の日報</h5>
    </div>
    <div class="ibox-content">
        <div class="form-group">
            <label class="control-label">日付 <span class="text-danger">*</span></label>
            <input type="date" class="form-control" name="report_date" id="reportDate" required>
        </div>

        <div class="form-group">
            <label class="control-label">日報内容 <span class="text-danger">*</span></label>
            <textarea class="form-control" name="report_content" rows="8" placeholder="本日の業務内容、成果、課題、明日の予定などを記入してください" required></textarea>
            <div class="help-block">
            <small class="text-muted">業務内容、成果、課題、明日の予定などを具体的に記載してください。</small>
            </div>
        </div>
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-12">
      <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg">
          <i class="fa fa-paper-plane"></i> 日報を提出
        </button>
        <button type="button" class="btn btn-default btn-lg m-l-sm" onclick="resetForm()">
          <i class="fa fa-refresh"></i> リセット
        </button>
      </div>
    </div>
  </div>

</form>