<% provide(:title, "カレンダー") %>
<div id="wrapper">
  <%= render 'shared/header' %>
  <div id="page-wrapper" class="gray-bg">
    <%= render 'shared/navbar' %>
    
    <!-- ヘッダー部分 -->
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-12">
        <h2 class="m-t-md">
          <i class="fa fa-calendar-o text-navy"></i> カレンダー
        </h2>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">ホーム</a>
          </li>
          <li class="breadcrumb-item active">
            <strong>カレンダー</strong>
          </li>
        </ol>
      </div>
    </div>

    <!-- メインコンテンツ -->
    <div class="wrapper wrapper-content animated fadeInRight">

    </div>
    <%= render 'shared/footer' %>
  </div>
</div>